* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.nav { 
  background-color: rgb(194, 16, 13);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: #fff;
  margin-bottom: 2rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: 5px;

}
.nav--span { 
  margin-left: .5rem;
}

.container { 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}
.details { 
  margin-left: 1.5rem;
  display: flex;
  align-items:baseline;
  justify-content: center;
  flex-direction: column;
}
.sub-container{
  display: flex;
  justify-content: space-between;

}
.title { 
  font-size: 1.5rem;
  margin: .5rem 0 1rem 0;
}
.details .schedule{ 
  font-weight: 700;
  font-size: .8rem;
  margin-bottom: .5rem;
}
.details p { 
  font-size: .8rem;

}

.img-location { 
  width: 200px;
  min-height: 250px;
  border-radius: 5px;
}
h5 {
  color: rgb(44, 44, 44);

}
a { 
  color: rgb(114, 114, 114);
  margin-left: .5rem;
}


/* Meme  Generator Design */
.navbar { 
  background-color: rgb(165, 10, 165);
}
.navbar .meme-items { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.item-list { 
  padding: 2rem;
  color: #fff;
}

.form-container { 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  flex-direction: column;
}
input[type=text]{ 
  text-align: center;

 
}

input{
  margin: 1rem 0;
  padding: .5rem 1.5rem;
  
}
input:nth-child(1){
  margin: 0 1rem;
}
input:nth-child(2){
  margin: 0 1rem;
}

input[type=button] { 
  background-color: purple;
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
}
input[type=button]:hover{ 
  background-color: rgb(184, 3, 184);


}
img { 
  width: 100%;
  position: relative;

}
.meme  { 
  position: relative;
}
.meme--text {
  color: #fff;
  position: absolute;

}
.top {
  padding-top: 3rem;
  position: absolute;
  top: 0;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  word-break: break-all;
}
.bottom{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Add Item With Spread Component */
.add-container { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.btn-add { 
  border: none;
  background-color: blue;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
}

/* Profile  */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}
article { 
  border: 2px solid #000;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 5px;
}
.proflie-img { 
  width: auto;
  height: 150px;
  border-radius: 50%;
  border: 1px solid blue;
  background-color: rgb(85, 85, 192);
}
.card--info{ 
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}


.card--favorite { 
  width: 40px;
  height: auto;
  padding-bottom: 5px;
}


/* Boxes */
/* .box{ 
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  text-align: center;
} */
.child {
  background-color: red;
  border: 1px solid #000;
  display: flex;

  height: 50px;
  width: 100px;
}